pytz==2025.2
xmltodict
pan-os-python>=1.11.0
azure-identity==1.25.3
azure-keyvault-keys
azure-keyvault-secrets
azure-mgmt-keyvault>=7.0.0
azure-mgmt-resource>=15.0.0
azure-mgmt-core>=1.4.0
azure-cosmos>=4.4.0
